body {
  background-color: teal;
}

input {
  background-color: yellow;
}

.haha {
  display: flex;
  justify-content: center;
  color: pink;
  margin-top: 200px;
  font-size: 5rem;
}

.form {
  display: flex;
  justify-content: center;
  border: 3px solid red;
  padding-top: 200px;
}

.header {
  position: absolute;
  border: 3px solid red;
  left: 550px;
}
